### Come leggere i dati da ADWH direttamente in un Pandas DataFrame

vedi anche: https://docs.oracle.com/en-us/iaas/tools/ads-sdk/latest/user_guide/loading_data/connect.html

In [1]:
import os
from ads.database import connection
from ads.database.connection import Connector
import pandas as pd

In [2]:
credential = {'database_name': 'adwh1_medium',
             'username': 'EMP',
             'password': 'WorkshopRoMi2022##',
             'database_type':'oracle'}

In [3]:
database_name = "adwh1_medium"

connection.update_repository(key=database_name, value=credential)

{'database_name': 'adwh1_medium',
 'username': 'EMP',
 'password': 'WorkshopRoMi2022##',
 'database_type': 'oracle'}

In [4]:
repo = connection.get_repository(key=database_name)

repo

{'database_name': 'adwh1_medium',
 'username': 'EMP',
 'password': 'WorkshopRoMi2022##',
 'database_type': 'oracle'}

In [5]:
# import the wallet
wallet_path = os.path.join(
    os.path.expanduser("~/workshop-july-2022"), f"Wallet_{database_name}.zip"
)

connection.import_wallet(wallet_path=wallet_path, key=database_name)

In [6]:
connector = Connector(key=database_name)

In [7]:
connector.config

{'database_type': 'oracle',
 'database_name': 'adwh1_medium',
 'username': 'EMP',
 'password': 'WorkshopRoMi2022##'}

In [8]:
connector.uri

'oracle+cx_oracle://EMP:WorkshopRoMi2022##@adwh1_medium'

### Usiamo direttamente Pandas (esteso)

In [5]:
connection_parameters = {
      "user_name": repo["username"],
      "password": repo["password"],
      "service_name": repo["database_name"],
      "wallet_location": "/home/datascience/workshop-july-2022/Wallet_adwh1_medium.zip",
  }

emp_df = pd.DataFrame.ads.read_sql(
      "SELECT * FROM ORCL_ATTRITION",
      connection_parameters=connection_parameters,
  )

In [6]:
emp_df.shape

(1470, 36)

In [8]:
emp_df.tail(10)

,AGE,ATTRITION,TRAVELFORWORK,SALARYLEVEL,JOBFUNCTION,COMMUTELENGTH,EDUCATIONALLEVEL,EDUCATIONFIELD,DIRECTS,EMPLOYEENUMBER,...,WEEKLYWORKEDHOURS,STOCKOPTIONLEVEL,YEARSININDUSTRY,TRAININGTIMESLASTYEAR,WORKLIFEBALANCE,YEARSONJOB,YEARSATCURRENTLEVEL,YEARSSINCELASTPROMOTION,YEARSWITHCURRMANAGER,NAME
1460,30,No,infrequent,2146,Software Developer,29,L4,Medical,1,2054,...,80,0,5,3,1,5,4,0,4,Pamela Proctor
1461,51,Yes,infrequent,1880,Product Management,29,L3,Marketing,1,2055,...,80,1,20,3,3,3,2,2,0,Ashley Wright
1462,40,No,infrequent,3310,Product Management,25,L1,Marketing,1,2056,...,80,1,21,2,2,20,9,9,6,David Miller
1463,32,No,none,1490,Software Developer,6,L3,Medical,1,2057,...,80,0,10,2,3,9,4,1,7,Laurie Bridges
1464,27,No,infrequent,5352,Product Management,6,L3,Other,1,2060,...,80,0,5,2,3,4,2,0,0,Charles Cook
1465,37,No,often,4054,Software Developer,24,L2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,Benjamin Russell
1466,40,No,infrequent,2810,Software Developer,7,L1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,Ellen Parsons
1467,28,No,infrequent,710,Software Developer,5,L3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,Tyler Greene
1468,50,No,often,4692,Product Management,3,L3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,Jessica Yang
1469,35,No,infrequent,2880,Software Developer,9,L3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,Leah Travis