### Analyze MovieLens Dataset using Apache Spark

I have loaded the **MovieLens** dataset (25M) in a bucket in the Object Storage
and shows here how to query it using **Spark SQL** in a Notebook Session

conda env used: **pyspark32_p38_cpu_v1**

Dataset is here: https://grouplens.org/datasets/movielens/

In [1]:
import logging
import warnings
import os
import ads
from os import path
from pyspark.sql import SparkSession
import re

warnings.filterwarnings('ignore')
logging.basicConfig(format='%(levelname)s:%(message)s', level=logging.ERROR)

URL FORMAT is oci://{BUCKET}@{NAMESPACE}/{REF_NAME}

In [2]:
ads.set_auth(auth='resource_principal')

In [3]:
%load_ext sparksql_magic
%config SparkSql.max_num_rows=100

In [4]:
# create a spark session
spark = SparkSession \
    .builder \
    .appName("Python Spark MovieLens") \
    .config("spark.driver.cores", str(1)) \
    .config("spark.executor.cores", str(8)) \
    .getOrCreate()

spark.sparkContext.setLogLevel("ERROR")

In [5]:
movies = spark.read.parquet("oci://WORKSHOP@frqap2zhtzbe/movies.parquet").cache()
      
# the dataframe as a sql view so we can perform SQL on it
movies.createOrReplaceTempView("MOVIES")

In [6]:
ratings = spark.read.parquet("oci://WORKSHOP@frqap2zhtzbe/ratings.parquet").cache()

# the dataframe as a sql view so we can perform SQL on it
ratings.createOrReplaceTempView("RATINGS")

In [7]:
%%sparksql

DESC MOVIES

In [8]:
%%sparksql

DESC RATINGS

In [9]:
%%sparksql

SELECT * FROM MOVIES LIMIT 10

In [12]:
%%sparksql

SELECT * FROM RATINGS LIMIT 10

#### Film con il più alto numero di ratings

In [13]:
%%sparksql

SELECT title, genres, ROUND(AVG(rating), 1) as avg_rating, count(*) as num_ratings 
FROM RATINGS, MOVIES WHERE MOVIES.movieId = RATINGS.movieId 
GROUP BY title, genres
HAVING count(*) > 10
ORDER BY num_ratings DESC LIMIT 10

In [14]:
%%sparksql

SELECT title, ROUND(AVG(rating), 1) as avg_rating, count(*) as num_ratings 
FROM RATINGS, MOVIES WHERE MOVIES.movieId = RATINGS.movieId 
and genres = "Adventure" 
GROUP BY title
HAVING count(*) > 10
ORDER BY avg_rating DESC LIMIT 10

#### Test the API

In [15]:
 query_result_df = spark.sql("""
    SELECT MOVIES.title, ROUND(AVG(RATINGS.rating), 1) as avg_rating, count(*) as num_ratings 
    FROM RATINGS, MOVIES 
    WHERE MOVIES.movieId = RATINGS.movieId 
    and MOVIES.genres = "Adventure" 
    GROUP BY MOVIES.title
    HAVING count(*) > 10
    ORDER BY avg_rating DESC LIMIT 10
    """)

In [16]:
print(query_result_df.toJSON().collect())

['{"title":"Belle and Sebastien (Belle et Sébastien) (2013)","avg_rating":3.8,"num_ratings":21}', '{"title":"Mountains of the Moon (1990)","avg_rating":3.7,"num_ratings":170}', '{"title":"The Spy Who Loved Flowers (1966)","avg_rating":3.7,"num_ratings":118}', '{"title":"Wolf Totem (2015)","avg_rating":3.7,"num_ratings":18}', '{"title":"Neon Bull (2015)","avg_rating":3.7,"num_ratings":13}', '{"title":"Mark of Zorro, The (1940)","avg_rating":3.6,"num_ratings":897}', '{"title":"King Jack (2015)","avg_rating":3.6,"num_ratings":32}', '{"title":"Billy Budd (1962)","avg_rating":3.6,"num_ratings":32}', '{"title":"Time Traveller: The Girl Who Leapt Through Time (2010)","avg_rating":3.5,"num_ratings":22}', '{"title":"Wind and the Lion, The (1975)","avg_rating":3.5,"num_ratings":195}']

In [17]:
query_result_df.show()

+--------------------+----------+-----------+
|               title|avg_rating|num_ratings|
+--------------------+----------+-----------+
|Belle and Sebasti...|       3.8|         21|
|Mountains of the ...|       3.7|        170|
|The Spy Who Loved...|       3.7|        118|
|   Wolf Totem (2015)|       3.7|         18|
|    Neon Bull (2015)|       3.7|         13|
|Mark of Zorro, Th...|       3.6|        897|
|    King Jack (2015)|       3.6|         32|
|   Billy Budd (1962)|       3.6|         32|
|Time Traveller: T...|       3.5|         22|
|Wind and the Lion...|       3.5|        195|
+--------------------+----------+-----------+

#### Usate per salvare in format Parquet

Le istruzioni usate per salvare i dati, letti da file csv, in formato parquet sull'Object Storage

In [ ]:
# movies.write.parquet("oci://WORKSHOP@frqap2zhtzbe/movies.parquet")

In [ ]:
# ratings.write.parquet("oci://WORKSHOP@frqap2zhtzbe/ratings.parquet")